
body{
    background-color:powderblue;
}

hr{
    background-color:powderblue;
    border-style: none;
    border-top-style: dotted; 
    border-color: grey;
    border-width: 5px;
    width: 6%;       
}