.top-container{
    background-color: #e4f9f5;
}

body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514E;
}
h1{
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    color: #66BFBF;
    line-height: 2;
    text-align: center;
}

.top-cloud{
    position: relative;
    left: 325px;
    top: 40px;
}
.pro{
    text-decoration: underline;
}
h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
    padding-bottom: 10px;
    text-align: center;
}
.lower-cloud{
    position: relative;
    bottom: 238px;
    /*left: 212px;*/

}
.lower-cloud2{
    position: relative;
    bottom: 184px;
    left: -189px;

}
.middlecontainer{
    padding: 100px 0px 100px 0px;
}
.intro{
    width: 30%;
    margin: auto;
    
}
p{
    line-height: 2;
    font-size: 1.5rem;
}
hr{
    margin-top: 100px;
    margin-bottom: 100px;
    border-style: none;
    border-top-style: dotted; 
    border-color: grey;
    border-width: 5px;
    width: 5%;     
      
}
h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    color: #428c8c;
    font-weight: normal;
    padding-bottom: 10px;
    text-align: center;
}
.skill-row{
    width: 50%;
    margin: auto;
    text-align: left;
}
.programming-skill{
    width: 25%;
    float: left;
    
}
.programming-img{
    width: 25%;
    float: left;
    margin-right: 30px;
}
.contact-me{
    background-color: #e4f9f5;
    margin-left: 40%;
    margin-right: 40%;
}
.bottomcontainer{
    background-color: #e4f9f5;
    height: 150px;
    font-size: 1.5rem;
    padding-top: 50px;
}
a{
    text-decoration: none;
    color: #11999E;
    /*margin-left: 10px;
    margin-right: 10px;*/
}
.link{
    margin-left: 10px;
    margin-right: 10px;
}
